<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Spring Boot 기본 설정 포함 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!-- 환경에 따른 추가 설정 포함, 환경 변수를 사용하여 동적으로 파일 선택 -->
    <include resource="logback-spring-${spring.profiles.active}.xml"/>

</configuration>
