<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.minproj2_mybatis.board.mapper.BoardMapper">

    <insert id="save" parameterType="board">
        INSERT INTO BOARD (writer, title, content, password, readCount )
        VALUES ( #{writer}, #{title}, #{content}, #{password}, #{readCount})
    </insert>


    <select id="findAll" resultType="board">
        SELECT * FROM BOARD ORDER BY id DESC
    </select>

    <select id="findById" parameterType="Long" resultType="board">
        SELECT * FROM BOARD WHERE id = #{id}
    </select>

    <update id="updateById" parameterType="board">
        UPDATE BOARD SET writer=#{writer}, title=#{title}, content=#{content} WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM BOARD WHERE id = #{id}
    </delete>

    <update id="plusCount">
        UPDATE BOARD SET readCount = readCount + 1 WHERE id = #{id}
    </update>

    <select id="searchFindAll" resultType="board">
        SELECT *
        FROM BOARD
        <where>
            <if test="boardEntity.id != null"> AND id = #{boardEntity.id}</if>
            <if test="boardEntity.title != null and boardEntity.title != ''"> AND title LIKE CONCAT('%', #{boardEntity.title}, '%')</if>
            <if test="boardEntity.content != null and boardEntity.content != ''"> AND content LIKE CONCAT('%', #{boardEntity.content}, '%')</if>
            <if test="boardEntity.writer != null and boardEntity.writer != ''"> AND writer LIKE CONCAT('%', #{boardEntity.writer}, '%')</if>
        </where>
        ORDER BY id DESC
        LIMIT #{start}, #{limit}
    </select>


    <select id="boardCount" resultType="Integer">
        SELECT count(id) FROM BOARD
    </select>

</mapper>