<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.minproj2_mybatis.book.mapper.BookCartMapper">
    <insert id="save" parameterType="book">
        INSERT INTO book (username, title, link, author, discount, publisher, isbn, quantity) VALUES (#{username}, #{title}, #{link}, #{author}, #{discount}, #{publisher}, #{isbn}, #{quantity})
    </insert>

    <select id="findByName" parameterType="String" resultType="book">
        SELECT * FROM  book WHERE username = #{username} ORDER BY id desc
    </select>

    <delete id="deleteById" parameterType="Long">
       DELETE FROM book WHERE id = #{id}
    </delete>
</mapper>